
  <div class="card p-4 shadow bg-dark text-white mt-2 mb-2"  style="width: 18rem; margin:auto;">
      <h2>Eliminar empleado</h2>
      <form [formGroup]="formDelete"(ngSubmit)="onDelete()">
      <div class="form-group">
          <label class="text" for="txtDelete">Id: </label>
          <input formControlName="id" type="text" class="form-control" id="txtDelete" placeholder="Ingrese su id">
      </div>
      <button type="submit" class="btn btn-danger mt-2" id="btn-Eliminar" [disabled]="!this.formDelete.valid">Eliminar</button>
      </form>
  </div>

