@{
    ViewBag.Title = "Digimons";
}


<h1>Digimons</h1>



        @foreach (var digimonViewModels in Model)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@digimonViewModels.Img" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@digimonViewModels.Name</h5>
                    <p class="card-text">@digimonViewModels.Level</p>
                </div>
            </div>
        }



