@model List<Lab.EF.MVC.Models.RegionView>

@{
    ViewBag.Title = "Regiones";
}

<h1>Tabla de regiones</h1>

<table class="table table-striped table-dark rounded-lg table-borderless">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
        <tr>
            <th scope="row">@region.Id</th>
            <td>@region.Description</td>
            <td>@Html.ActionLink("Borrar", "Delete", new { id = region.Id })</td>
        </tr>
        }
    </tbody>
</table>



<div>
    @Html.ActionLink("Insertar Nueva Region", "Insert")
</div>