@model List<Lab.EF.MVC.Models.RegionView>

@{
    ViewBag.Title = "Region Page";
}

<h1>Hola soy el Index de Region</h1>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
            <tr>
                <th scope="row">@region.Id</th>
                <td>@region.Description</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Insertar Nueva Region", "Insert")
</div>